@page
@model GimMiBarrio.App.Presentacion.Pages.UsuarioRecurrentes.DeleteModel

@{
    int usuarioRecurrenteId = Model.usuarioRecurrente.Id;
}

<h2>Edición de los datos del Usuario Recurrente @Model.usuarioRecurrente.Nombres @Model.usuarioRecurrente.Identificacion</h2>
<form method="post">
    <input type="hidden" asp-for="usuarioRecurrente.Id" />    
    
    <div class="form-group">
        <label asp-for="usuarioRecurrente.Identificacion"></label>
        <input asp-for="usuarioRecurrente.Identificacion" class="form-control" disabled>
        <span class="text-danger" asp-validation-for="usuarioRecurrente.Identificacion"></span>
    </div>
    <div class="form-group">
        <label asp-for="usuarioRecurrente.Nombres"></label>
        <input asp-for="usuarioRecurrente.Nombres" class="form-control" disabled>
        <span class="text-danger" asp-validation-for="usuarioRecurrente.Nombres"></span>
    </div>

    <button type="submit" class="btn btn-danger">ELIMINAR</button>    
</form>

<a asp-page="./List" class="btn-default">Regresar a la lista de Usuarios Recurrentes </a>